<% provide(:title, 'Home') %>

<%= render 'layouts/header' %>

<div class="row">
	<div class="col-md-12 hero-background">
		<div class="wrapper">
			<div class="dynamic-row">
				<div class="copy">
					<h1>Welcome to the Time Economy</h1>
				</div>
				<div class="form-area">
					<div class="box">
						<div class="box-header">
							<h3>Swap a little spare time for the services that you want.</h3>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-md-12 hero-navigation">
		<ul class="navigation-row">
			<li class="hero-navigation-li" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><a class="inactiveLink">Clean & Tidy</a></li>
			<li class="hero-navigation-li" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><a class="inactiveLink">Helping Hand</a></li>
			<li class="hero-navigation-li" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><a class="inactiveLink">Beauty & Fitness</a></li>
			<li class="hero-navigation-li" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><a class="inactiveLink">Tutoring & Teaching</a></li>
			<li class="hero-navigation-li" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><a class="inactiveLink">Business Services</a></li>
			<li class="hero-navigation-li" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus."><a class="inactiveLink">Party & Entertainment</a></li>
		</ul>
	</div>
</div>

<div class="row below-hero">
	<div class="col-md-6 col-md-offset-3 center">
		<button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="top" data-content="Vivamus sagittis lacus vel augue laoreet rutrum faucibus.">Popover on top</button>
		<h1><strong>Tell us what you need. Get free quotes.</strong></h1>
		<h1><strong>Choose the right pro for the job.</strong></h1>
		<hr />
		<h4>HOW TIMESWAPPERS WORKS</h4>
	</div>
</div>

<br />

<div class="container">
	<div class="row below-hero">
		<div class="col-md-12">
	        <h1>How to TimeSwap</h1>
	        <p>It's simple to connect with members so you don't have to beg a friend for help, do-it-yourself, or go without.</p>

	        <div class="row">
	        	<div class="col-md-12">
			        <div class="row what-is-ts">
				        <div class="col-md-4">
				        	<h3>Step 1: EARN</h3>
				        	<p>time credits by sharing what you're good at.</p>
				        </div>
				        <div class="col-md-8">
				        	<div class="placeholder"></div>
				        </div>
				    </div>

				    <div class="row what-is-ts">
						<div class="col-md-8">
							<div class="placeholder"></div>
						</div>
						<div class="col-md-4">
							<h3>Step 2: SPEND</h3>
							<p>time credits and Get The Help You Want when you get help from TimeSwappers who have a knack for the skills you lack.</p>
						</div>
					</div>

					<div class="row what-is-ts">
						<div class="col-md-4">
			        		<h3>Step 3: REVIEW</h3>
			        		<p>your swapping experience and have the same done for you!</p>
			        	</div>
			        	<div class="col-md-8">
			        		<div class="placeholder"></div>
			        	</div>
			        </div>
				    <div class="center-button">
				        <%= link_to "Begin TimeSwapping", signup_path, class: "btn btn-lg btn-primary" %>
				    </div>
				</div>
			</div>
	  	</div>
	</div>
</div>

<br />

<!-- Full Length -->
<div class="row below-hero">
	<div class="col-md-12 full-length-divider">
		<div class="wrapper">
			<div class="dynamic-row-divider">
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row below-hero">
		<div class="col-md-12">
	        <h1>See it in Action</h1>
	        <p>Use time as your currency and you'll save money on many of the services that you already pay for.</p>
	        <br />
			<div>
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#give-help" aria-controls="give-help" role="tab" data-toggle="tab">Give Help</a></li>
					<li role="presentation"><a href="#get-help" aria-controls="get-help" role="tab" data-toggle="tab">Get Help</a></li>
				</ul>


				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="give-help">
						<div class="row">
				        	<div class="col-md-12">
				        		<h3>Offers to Give Help</h3>
			    				<div class="col-md-3 offer">
			    					<h3>Laundry</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Lawn Mowing</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Yard Work</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Cooking</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    			</div>
			    		</div>
			    		<div class="row">
				        	<div class="col-md-12">
			    				<div class="col-md-3 offer">
			    					<h3>German Tutoring</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Proofreading</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Gardening</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Dog Watching</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
				        	</div>
				        </div>
			        </div>

					<div role="tabpanel" class="tab-pane" id="get-help">
						<div class="row">
				        	<div class="col-md-12">
				        		<h3>Offers to Get Help</h3>
			    				<div class="col-md-3 offer">
			    					<h3>Hanging Pictures</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Massage</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Gardening</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Babysitting</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
				        	</div>
				        </div>
				        <div class="row">
				        	<div class="col-md-12">
			    				<div class="col-md-3 offer">
			    					<h3>Hair Coloring</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Makeup Application</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Cooking</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Web Development</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
				        	</div>
				        </div>
					</div>
				</div>
			</div>
	  	</div>
	</div>
</div>

<!-- Full Length -->
<div class="row below-hero">
	<div class="col-md-12 full-length-divider">
		<div class="wrapper">
			<div class="dynamic-row-divider">
					<h1>Why Join TimeSwappers?</h1>
					<br />
					<div class="row">
						<div class="col-md-4 box-header">
							<span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span>
							<h3>You'll Save Money</h3>
							<p>Use time as your currency and you'll save money on many of the services you already pay for.</p>
						</div>
						<div class="col-md-4 box-header">
							<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
							<h3>Get The Help You Want</h3>
							<p>Share what you're good at and get help from TimeSwappers who have a knack for the skills you lack.</p>
						</div>
						<div class="col-md-4 box-header">
							<span class="glyphicon glyphicon-user" aria-hidden="true"></span>
							<h3>It's So Easy</h3>
							<p>It's simple to connect with members so you don't have to beg a friend for help, do-it-yourself or go without.</p>
						</div>
					</div>
					<br />
					<div class="row">
						<div class="col-md-12">
							<div class="center-button">
								<%= link_to "Begin TimeSwapping", signup_path, class: "btn btn-lg btn-primary" %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row below-hero wrapper">
		<div class="col-md-6">
			<h1>Want to learn more?</h1>
			<h2>Meet Natalie!</h2>
		</div>
		<div class="col-md-6">
			<iframe width="560" height="315" src="https://www.youtube.com/embed/rAmPq7cyb3A" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
</div>