<% provide(:title, "Project Gallery") %>

<div class="container-static">
	<div class="container">
		<%= render 'layouts/account_navigation' %>
		<div class="row">
			<div class="col-md-12">
			<div>
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#give-help" aria-controls="give-help" role="tab" data-toggle="tab">Share What You're Good At & Earn Time Credits!</a></li>
					<li role="presentation"><a href="#get-help" aria-controls="get-help" role="tab" data-toggle="tab">Browse Offers from TimeSwappers Who Can Help You!</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="give-help">
						<div class="row">
							<div class="col-md-12">
								<h3>Help Requests That Match Your Skills</h3>
			    				<div class="col-md-3 offer">
			    					<h3>Tax Preparation</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"April is coming and I need some help with my taxes. I own a small consulting business and have all my income and expenses in a spreadsheet. Just need help preparing the forms and making sure I get all the deductions right."</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Party Chef</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"Are you a good cook? Can you help prepare dinner for 14? I’m having a party in 2 weeks (on Saturday the 12th) and need help that day preparing a feast! You don’t have to be a professional chef – just a good cook who is clean and reliable."</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>House Cleaning</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"The in-laws finally left and I need a great cleaner! It’s a 3BR / 3BA house, 1600 sq feet, and it needs top-to-bottom cleaning, vacuuming and wood floors mopped. Anytime in the next week is fine – day or night up until 8pm."</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Massage</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"I’m looking for a licensed massage therapist who does deep tissue work. Want a 1-hour massage this week – evening or anytime on the weekend, please."</p>
			    				</div>
				        	</div>
				        </div>
				        <hr />
						<h3>More Help Requests You Might Like</h3>
				        <div class="row">
							<div class="col-md-12">
			    				<div class="col-md-3 offer">
			    					<h3>Assemble Furniture</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"I love IKEA but I’m useless at assembling the stuff! I’ve got a nightstand and a 4-drawer dresser that need to be put together. I’ve attached photos and descriptions of the furniture. Anytime in the next month is good.  Evenings or weekends preferred."</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Spanish Lessons</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"Habla Espanol? I’m looking for a Spanish speaker to help me learn. I’m a total beginner, so I’d like to start with 3 hour-long sessions. Can meet anytime during the day or on Saturday mornings. I’m ideally looking for someone who has taught or tutored Spanish before."</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Tax Preparation</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"April is coming and I need some help with my taxes. I own a small consulting business and have all my income and expenses in a spreadsheet. Just need help preparing the forms and making sure I get all the deductions right."</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Party Chef</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"Are you a good cook? Can you help prepare dinner for 14? I’m having a party in 2 weeks (on Saturday the 12th) and need help that day preparing a feast! You don’t have to be a professional chef – just a good cook who is clean and reliable."</p>
			    				</div>
				        	</div>
				        </div>
				        <div class="row">
							<div class="col-md-12">
			    				<div class="col-md-3 offer">
			    					<h3>House Cleaning</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"The in-laws finally left and I need a great cleaner! It’s a 3BR / 3BA house, 1600 sq feet, and it needs top-to-bottom cleaning, vacuuming and wood floors mopped. Anytime in the next week is fine – day or night up until 8pm."</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Massage</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"I’m looking for a licensed massage therapist who does deep tissue work. Want a 1-hour massage this week – evening or anytime on the weekend, please."</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Assemble Furniture</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"I love IKEA but I’m useless at assembling the stuff! I’ve got a nightstand and a 4-drawer dresser that need to be put together. I’ve attached photos and descriptions of the furniture. Anytime in the next month is good.  Evenings or weekends preferred."</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3>Spanish Lessons</h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>"Habla Espanol? I’m looking for a Spanish speaker to help me learn. I’m a total beginner, so I’d like to start with 3 hour-long sessions. Can meet anytime during the day or on Saturday mornings. I’m ideally looking for someone who has taught or tutored Spanish before."</p>
			    				</div>
				        	</div>
				        </div>
			        </div>

					<div role="tabpanel" class="tab-pane" id="get-help">
						<div class="row">
				        	<div class="col-md-12">
								<br />
				        		<%= link_to "Submit a Get Help Request", get_help_new_project_path, class: "btn btn-lg btn-primary" %>
				        	</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<h3>Offers to Help That Match Your Needs</h3>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "German Tutoring", project_1_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "Proofreading", project_3_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "Cooking", project_6_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "German Tutoring", project_1_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
				        	</div>
				        </div>
				        <hr />
				        <div class="row">
							<div class="col-md-12">
								<h3>More Offers to Help from the Community</h3>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "German Tutoring", project_1_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "Proofreading", project_3_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "Cooking", project_6_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "German Tutoring", project_1_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
				        	</div>
				        </div>
				        <div class="row">
							<div class="col-md-12">
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "German Tutoring", project_1_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "Proofreading", project_3_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "Cooking", project_6_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-3 offer">
			    					<h3><%= link_to "German Tutoring", project_1_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
				        	</div>
				        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>