<% provide(:title, "Project Gallery") %>

<div class="container-static">
	<div class="container">
		<%= render 'layouts/account_navigation' %>
		<div class="row">
			<div class="col-md-12">
			<h1>Project Gallery</h1>
	        <p>Use time as your currency and you'll save money on many of the services that you already pay for.</p>
	        <br />
			<div>
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#give-help" aria-controls="give-help" role="tab" data-toggle="tab">Give Help</a></li>
					<li role="presentation"><a href="#get-help" aria-controls="get-help" role="tab" data-toggle="tab">Get Help</a></li>
				</ul>

				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="give-help">
						<div class="row">
				        	<div class="col-md-12">
								<h3>Offers to Give Help</h3>
								<%= link_to "Submit a Give Help Request", give_help_new_project_path, class: "btn btn-lg btn-primary" %>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "Laundry", project_2_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "Lawn Mowing", project_4_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "Consulting", project_6_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
				        	</div>
				        </div><div class="row">
							<div class="col-md-12">
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "Laundry", project_2_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "Lawn Mowing", project_4_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "Consulting", project_6_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
				        	</div>
				        </div>
			        </div>

					<div role="tabpanel" class="tab-pane" id="get-help">
						<div class="row">
				        	<div class="col-md-12">
				        		<h3>Offers to Get Help</h3>
				        		<%= link_to "Submit a Get Help Request", get_help_new_project_path, class: "btn btn-lg btn-primary" %>
				        	</div>
						</div>
						<div class="row">
							<div class="col-md-12">
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "German Tutoring", project_1_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "Proofreading", project_3_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "Cooking", project_6_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
				        	</div>
				        </div>
				        <div class="row">
							<div class="col-md-12">
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "German Tutoring", project_1_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "Proofreading", project_3_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
			    				<div class="col-md-4 offer">
			    					<h3><%= link_to "Cooking", project_6_path %></h3>
			    					<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
			    					<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
			    					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
			    				</div>
				        	</div>
				        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>