<% provide(:title, 'Give Help Gallery') %>

<div class="container-static">
	<div class="container">
		<%= render 'layouts/account_navigation' %>
		<div class='row'>
		    <div class="col-md-12">
		        <h1>Give Help Gallery</h1>
		        <p>Use time as your currency and you'll save money on many of the services that you already pay for.</p>

		        <div class="row">
		            <div class="col-md-12">
						<div class="col-md-4 offer">
							<h3>German Tutoring</h3>
							<%= image_tag("profiles/colleen.jpg", class: "img-circle") %>
							<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
							<p>
					        	<a class="btn btn-lg btn-primary" href="#" role="button">Contact &raquo;</a>
					        </p>
						</div>
						<div class="col-md-4 offer">
							<h3>Laundry</h3>
							<%= image_tag("profiles/frank.jpg", class: "img-circle") %>
							<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
							<p>
					        	<a class="btn btn-lg btn-primary" href="#" role="button">Contact &raquo;</a>
					        </p>
						</div>
						<div class="col-md-4 offer">
							<h3>Yard Work</h3>
							<%= image_tag("placeholders/placeholder-person.jpg", class: "img-circle") %>
							<%= image_tag("placeholders/five-stars.png", class: "five-star") %>
							<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer vestibulum hendrerit commodo.</p>
							<p>
					        	<a class="btn btn-lg btn-primary" href="#" role="button">Contact &raquo;</a>
					        </p>
						</div>
			        </div>
		      	</div>
		  	</div>
		</div>