<% provide(:title, 'Complete Your Profile') %>

<%= render 'layouts/header' %>

<div class="container-static">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Complete Your Profile</h1>
				<div class="progress">
					<div class="progress-bar progress-bar-success" style="width: 50%">
						Contact Information & Photo
					</div>
					<div class="progress-bar progress-bar-success" style="width: 50%">
						Choose What You Have A Knack For
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h3>Choose How You Can Help Other TimeSwappers</h3>
				<p>Select at least one, or as many as you want</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group project-list">
					<span class="input-group-addon">
						<input type="checkbox" aria-label="...">
					</span>
					<input type="text" value="Clean and Tidy" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
				</div>
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-11">
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="General Cleaning" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Laundry" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Getting Organized" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Lawn & Garden" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Car, Truck, & Boat Cleaning" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group project-list">
					<span class="input-group-addon">
						<input type="checkbox" aria-label="...">
					</span>
					<input type="text" value="Helping Hand" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
				</div><!-- /input-group -->

				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-11">
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Handyman & Simple Repairs" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Errands & Driving" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Painting" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Furniture Assembly" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Heavy Lifting" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group project-list">
					<span class="input-group-addon">
						<input type="checkbox" aria-label="...">
					</span>
					<input type="text" value="Beauty and Fitness" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
				</div><!-- /input-group -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-11">
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Fitness" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Hair Styling" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Massage" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Spa Services" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group project-list">
					<span class="input-group-addon">
						<input type="checkbox" aria-label="...">
					</span>
					<input type="text" value="Tutoring and Teaching" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
				</div><!-- /input-group -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-11">
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="How-To" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Instruction" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Academic Tutoring" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group project-list">
					<span class="input-group-addon">
						<input type="checkbox" aria-label="...">
					</span>
					<input type="text" value="Business Services" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
				</div><!-- /input-group -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-11">
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Web Design & Graphics" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Computers & Tech" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Writing & Research" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Sales & Marketing" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Accounting & Bookkeeping" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<div class="input-group project-list">
					<span class="input-group-addon">
						<input type="checkbox" aria-label="...">
					</span>
					<input type="text" value="Party & Entertainment" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
				</div><!-- /input-group -->
				<div class="row">
					<div class="col-md-1"></div>
					<div class="col-md-11">
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Cooking & Baking" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Waitstaff" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Entertainment" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
						<div class="input-group project-list">
							<span class="input-group-addon">
								<input type="checkbox" aria-label="...">
							</span>
							<input type="text" value="Photography" class="form-control" id="basic-url" aria-describedby="basic-addon3" readonly>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6 col-md-offset-3 center">
				<br />
				<span class="list-group">
					<input type="checkbox" aria-label="...">   By checking this box, I acknowledge that I have read and agree to the TimeSwappers <%= link_to "Privacy Policy", privacy_path %>, <%= link_to "Terms of Use", terms_path %> and <%= link_to "Safety & Security Guidelines", safety_path %>.</input>
				</span>
				<hr />
				<div class="center-button">
					<%= link_to "Continue", give_or_get_help_path, class: "btn btn-lg btn-primary" %>
				</div>
			</div>
		</div>
	</div>
</div>