<% provide(:title, 'Complete Your Profile') %>

<%= render 'layouts/header' %>

<div class="container-static">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1>Complete Your Profile</h1>
				<p>In order to begin swapping, you must complete your profile.</p>
				<div class="progress">
					<div class="progress-bar progress-bar-success" style="width: 50%">
						Contact Information & Photo
					</div>
					<div class="progress-bar progress-bar-success progress-bar-striped" style="width: 50%"></div>
				</div>
				<hr />
				<p>Only your first name, last initial, and zip code will be visible to anyone.</p>
			</div>
		</div>


		<%= form_for @user do |f| %>
		<div class="row">
			<div class="col-md-6">

				<%= f.label :first_name %>
				<%= f.text_field :attr, placeholder: "Automatically populated", class: 'form-control' %>

				<%= f.label :email %>
				<%= f.email_field :attr, placeholder: "Automatically populated", class: 'form-control' %>
			</div>

			<div class="col-md-6">

				<%= f.label :last_name %>
				<%= f.text_field :attr, placeholder: "Automatically populated", class: 'form-control' %>

				<%= f.label :zipcode %>
				<%= f.text_field :attr, placeholder: "Automatically populated", class: 'form-control' %>
			</div>
		</div>

		<div class="row">
			<div class="col-md-6">

				<%= f.label :address1 %>
				<%= f.text_field :address1, class: 'form-control' %>

				<%= f.label :city %>
				<%= f.text_field :city, class: 'form-control' %>
				
			</div>
			<div class="col-md-6">

				<%= f.label :address2 %>
				<%= f.text_field :address2, class: 'form-control' %>

				<%= f.label :state %>
				<%= f.text_field :state, class: 'form-control' %>

			</div>
		</div>
		<% end %>
		
		<hr />

		<div class="row">
			<div class="col-md-12">
				<h2>Upload Your Photograph</h2>
				<div class="col-md-4">
					<%= image_tag('placeholders/placeholder-300-square.png') %>
				</div>

				<div class="col-md-8">
					<p>Show off your smile!   To build trust among TimeSwappers, a clear picture of your face is required.</p>
					<div class="center-button">
						<%= link_to "Continue", profile_page_2_path, class: "btn btn-lg btn-primary" %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>