<div class="sidebar">
	<nav role="navigation">
		<ul class="nav nav-sidebar">
			<li role="presentation"><%= link_to "Get Help Gallery", get_help_gallery_path %></a></li>
			<li role="presentation"><%= link_to "Give Help Gallery", give_help_gallery_path %></li>
			<li><hr /></li>
			<li role="presentation"><%= link_to my_notifications_path do %>
				Notifications
				<span class="badge">2</span>
				<% end %>
			</li>
			<li role="presentation"><%= link_to "My Projects", my_projects_path %><li>
			<li role="presentation"><%= link_to "Post a Project: Get Help", get_help_new_project_path %></li>
			<li role="presentation"><%= link_to "Post a Project: Give Help", give_help_new_project_path %></li>
			<li role="presentation"><%= link_to "My Time Bank", my_bank_path %></li>
			<li><hr /></li>
			<li role="presentation"><%= link_to "My Profile", my_profile_path %></li>
			<li role="presentation"><%= link_to "Edit My Profile", edit_my_profile_path %></li>
			<li role="presentation"><%= link_to "Delete My Profile", delete_my_profile_path %></li>
		</ul>
	</nav>
</div>