<div class="row">
	<div class="col-md-12">
		<!-- Fixed footer -->
		<footer class="navbar navbar-default navbar-fixed-bottom">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-footer">
						<li><%= link_to 'Contact', contact_path %></li>
						<li><%= link_to 'FAQ', faq_path %></li>
						<li><%= link_to 'About', about_path %></li>
						<li><%= link_to 'Privacy Policy', privacy_path %></li>
						<li class="footer-nav"><%= link_to 'Safety & Community Guidelines', safety_path %></li>
						<li class="footer-nav"><%= link_to 'Terms of Service', terms_path %></li>
					</ul>
					<!-- <ul class="nav navbar-nav navbar-footer">
						<li class="footer-nav"><a href="https://www.facebook.com/timeswappers/" target="_blank">Facebook</a></li>
						<li class="footer-nav"><a href="https://twitter.com/TimeSwappers" target="_blank">Twitter</a></li>
					</ul> -->
				</div><!--/.nav-collapse -->
			</div>
		</footer>
	</div>
</div>